<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdV0Da6R11B3yVkmJcT5MP0wOeAo5_ceE</string>
	<key>GCM_SENDER_ID</key>
	<string>743571353523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ashen.studentRecordsApp</string>
	<key>PROJECT_ID</key>
	<string>student-records-app-fdb5a</string>
	<key>STORAGE_BUCKET</key>
	<string>student-records-app-fdb5a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743571353523:ios:e67d4524d96236371ae5c6</string>
</dict>
</plist>